{
  "openapi": "3.1.0",
  "info": {
    "title": "优服家 API",
    "version": "0.0.0-generated",
    "description": "多租户物业 SaaS 后端开放规范（M-3 交付）。\n\n**口径**：本文件由 `tools/generate_openapi.mjs` 自动扫描 `src/server.ts` 挂载表与 `src/routes/*.ts`、`src/webhook/routes.ts` 路由声明生成（generated，非手写）。\n\n**诚实边界**：summary/description 取自路由上方中文注释（启发式）；请求/响应 schema 为宽松骨架，字段一律以服务端实现为准，不编造字段。\n\n**鉴权**：租户/管理端 JWT Bearer；开放 API 走 X-App-Key + X-App-Secret（openApiAuth）；公开端点见各操作 security: []。",
    "x-generated-at": "2026-09-05T11:19:31.861Z",
    "x-generator": "tools/generate_openapi.mjs",
    "x-source": "src/server.ts + src/routes/*.ts + src/webhook/routes.ts（代码扫描口径）"
  },
  "servers": [
    {
      "url": "https://youfu.banerz.cn"
    }
  ],
  "tags": [
    {
      "name": "platform",
      "description": "路由文件：src/routes/platform.ts"
    },
    {
      "name": "templateMarket",
      "description": "路由文件：src/routes/templateMarket.ts"
    },
    {
      "name": "openApi",
      "description": "路由文件：src/routes/openApi.ts"
    },
    {
      "name": "publicReport",
      "description": "路由文件：src/routes/publicReport.ts"
    },
    {
      "name": "publicAiChat",
      "description": "路由文件：src/routes/publicAiChat.ts"
    },
    {
      "name": "wechat",
      "description": "路由文件：src/routes/wechat.ts"
    },
    {
      "name": "workOrder",
      "description": "路由文件：src/routes/workOrder.ts"
    },
    {
      "name": "webhook",
      "description": "路由文件：src/webhook/routes.ts"
    },
    {
      "name": "auth",
      "description": "路由文件：src/routes/auth.ts"
    },
    {
      "name": "config",
      "description": "路由文件：src/routes/config.ts"
    },
    {
      "name": "templateContributions",
      "description": "路由文件：src/routes/templateContributions.ts"
    },
    {
      "name": "inspection",
      "description": "路由文件：src/routes/inspection.ts"
    },
    {
      "name": "patrol",
      "description": "路由文件：src/routes/patrol.ts"
    },
    {
      "name": "emergency",
      "description": "路由文件：src/routes/emergency.ts"
    },
    {
      "name": "transport",
      "description": "路由文件：src/routes/transport.ts"
    },
    {
      "name": "volunteer",
      "description": "路由文件：src/routes/volunteer.ts"
    },
    {
      "name": "feedback",
      "description": "路由文件：src/routes/feedback.ts"
    },
    {
      "name": "monitor",
      "description": "路由文件：src/routes/monitor.ts"
    },
    {
      "name": "material",
      "description": "路由文件：src/routes/material.ts"
    },
    {
      "name": "asset",
      "description": "路由文件：src/routes/asset.ts"
    },
    {
      "name": "serviceDesk",
      "description": "路由文件：src/routes/serviceDesk.ts"
    },
    {
      "name": "stats",
      "description": "路由文件：src/routes/stats.ts"
    },
    {
      "name": "optimize",
      "description": "路由文件：src/routes/optimize.ts"
    },
    {
      "name": "processMining",
      "description": "路由文件：src/routes/processMining.ts"
    },
    {
      "name": "autoTune",
      "description": "路由文件：src/routes/autoTune.ts"
    },
    {
      "name": "worker",
      "description": "路由文件：src/routes/worker.ts"
    },
    {
      "name": "catalog",
      "description": "路由文件：src/routes/catalog.ts"
    },
    {
      "name": "faultCategory",
      "description": "路由文件：src/routes/faultCategory.ts"
    },
    {
      "name": "accounts",
      "description": "路由文件：src/routes/accounts.ts"
    },
    {
      "name": "tenantInfo",
      "description": "路由文件：src/routes/tenantInfo.ts"
    },
    {
      "name": "workflowDef",
      "description": "路由文件：src/routes/workflowDef.ts"
    },
    {
      "name": "basicData",
      "description": "路由文件：src/routes/basicData.ts"
    },
    {
      "name": "adminAiChat",
      "description": "路由文件：src/routes/adminAiChat.ts"
    },
    {
      "name": "equipment",
      "description": "路由文件：src/routes/equipment.ts"
    },
    {
      "name": "businessFlow",
      "description": "路由文件：src/routes/businessFlow.ts"
    },
    {
      "name": "aiPreview",
      "description": "路由文件：src/routes/aiPreview.ts"
    },
    {
      "name": "llmUsage",
      "description": "路由文件：src/routes/llmUsage.ts"
    },
    {
      "name": "upload",
      "description": "路由文件：src/routes/upload.ts"
    },
    {
      "name": "settlement",
      "description": "路由文件：src/routes/settlement.ts"
    },
    {
      "name": "acceptance",
      "description": "路由文件：src/routes/acceptance.ts"
    },
    {
      "name": "uploads",
      "description": "路由文件：src/routes/uploads.ts"
    },
    {
      "name": "server",
      "description": "server.ts 内联端点（/health）"
    }
  ],
  "paths": {
    "/api/v1/platform/auth/login": {
      "post": {
        "tags": [
          "platform"
        ],
        "summary": "---- POST /platform/auth/login —— 平台管理员登录（公开） ----",
        "description": "来源：src/routes/platform.ts:53\n\n服务端响应状态码（代码扫描）：200, 401, 500\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "500": {
            "description": "HTTP 500",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "骨架占位：请求字段以服务端实现为准"
              }
            }
          }
        }
      }
    },
    "/api/v1/platform/tenants": {
      "get": {
        "tags": [
          "platform"
        ],
        "summary": "---- GET /platform/tenants —— 租户注册表列表 ----",
        "description": "来源：src/routes/platform.ts:88\n\n服务端响应状态码（代码扫描）：200\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "platform"
        ],
        "summary": "POST /api/v1/platform/tenants",
        "description": "来源：src/routes/platform.ts:136\n\n服务端响应状态码（代码扫描）：201, 409\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "HTTP 201",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "409": {
            "description": "HTTP 409",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "骨架占位：请求字段以服务端实现为准"
              }
            }
          }
        }
      }
    },
    "/api/v1/platform/tenants/{id}/status": {
      "put": {
        "tags": [
          "platform"
        ],
        "summary": "---- PUT /platform/tenants/:id/status —— 开通/停用租户 ----",
        "description": "来源：src/routes/platform.ts:105\n\n服务端响应状态码（代码扫描）：200, 404\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "404": {
            "description": "HTTP 404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "路径参数（原代码声明形如 :param）"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "骨架占位：请求字段以服务端实现为准"
              }
            }
          }
        }
      }
    },
    "/api/v1/platform/summary": {
      "get": {
        "tags": [
          "platform"
        ],
        "summary": "GET /api/v1/platform/summary",
        "description": "来源：src/routes/platform.ts:211\n\n服务端响应状态码（代码扫描）：200\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/platform/apps": {
      "get": {
        "tags": [
          "platform"
        ],
        "summary": "— 应用列表（secret 不返回，仅展示 key/scopes/状态）",
        "description": "来源：src/routes/platform.ts:277\n\n服务端响应状态码（代码扫描）：200\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "platform"
        ],
        "summary": "— 创建应用（返回 app_key + app_secret，secret 仅此一次）",
        "description": "来源：src/routes/platform.ts:290\n\n服务端响应状态码（代码扫描）：201\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "HTTP 201",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "骨架占位：请求字段以服务端实现为准"
              }
            }
          }
        }
      }
    },
    "/api/v1/platform/apps/{id}/revoke": {
      "put": {
        "tags": [
          "platform"
        ],
        "summary": "— 吊销应用（立即失效，不可逆）",
        "description": "来源：src/routes/platform.ts:309\n\n服务端响应状态码（代码扫描）：200, 404\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "404": {
            "description": "HTTP 404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "路径参数（原代码声明形如 :param）"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "骨架占位：请求字段以服务端实现为准"
              }
            }
          }
        }
      }
    },
    "/api/v1/platform/auth/password": {
      "put": {
        "tags": [
          "platform"
        ],
        "summary": "---- PUT /platform/auth/password —— 平台管理员修改自己的密码（登录态 + 旧密码校验） ----",
        "description": "来源：src/routes/platform.ts:329\n\n服务端响应状态码（代码扫描）：200, 401, 404\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "404": {
            "description": "HTTP 404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "骨架占位：请求字段以服务端实现为准"
              }
            }
          }
        }
      }
    },
    "/api/v1/platform/audit-logs": {
      "get": {
        "tags": [
          "platform"
        ],
        "summary": "---- 审计日志查询（平台操作 audit + 开放 API 调用 log；append-only 只读） ----",
        "description": "来源：src/routes/platform.ts:351\n\n服务端响应状态码（代码扫描）：200\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/platform/open-api-logs": {
      "get": {
        "tags": [
          "platform"
        ],
        "summary": "GET /api/v1/platform/open-api-logs",
        "description": "来源：src/routes/platform.ts:379\n\n服务端响应状态码（代码扫描）：200\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/platform/tenants/{id}/llm": {
      "put": {
        "tags": [
          "platform"
        ],
        "summary": "PUT /api/v1/platform/tenants/{id}/llm",
        "description": "来源：src/routes/platform.ts:404\n\n服务端响应状态码（代码扫描）：200, 409, 422\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "409": {
            "description": "HTTP 409",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "422": {
            "description": "HTTP 422",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "路径参数（原代码声明形如 :param）"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "骨架占位：请求字段以服务端实现为准"
              }
            }
          }
        }
      }
    },
    "/api/v1/platform/tenants/{id}/locations": {
      "get": {
        "tags": [
          "platform"
        ],
        "summary": "---- 位置字典 CRUD（v0.4.0：报修位置预录入，扫码自动带出） ----",
        "description": "来源：src/routes/platform.ts:429\n\n服务端响应状态码（代码扫描）：200\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "路径参数（原代码声明形如 :param）"
          }
        ]
      },
      "post": {
        "tags": [
          "platform"
        ],
        "summary": "POST /api/v1/platform/tenants/{id}/locations",
        "description": "来源：src/routes/platform.ts:442\n\n服务端响应状态码（代码扫描）：201\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "HTTP 201",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "路径参数（原代码声明形如 :param）"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "骨架占位：请求字段以服务端实现为准"
              }
            }
          }
        }
      }
    },
    "/api/v1/platform/tenants/{id}/reporters": {
      "get": {
        "tags": [
          "platform"
        ],
        "summary": "---- 报修人角色字典 CRUD（v0.4.0：姓名+手机号预录入，扫码自动带出） ----",
        "description": "来源：src/routes/platform.ts:464\n\n服务端响应状态码（代码扫描）：200\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "路径参数（原代码声明形如 :param）"
          }
        ]
      },
      "post": {
        "tags": [
          "platform"
        ],
        "summary": "POST /api/v1/platform/tenants/{id}/reporters",
        "description": "来源：src/routes/platform.ts:486\n\n服务端响应状态码（代码扫描）：201\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "HTTP 201",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "路径参数（原代码声明形如 :param）"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "骨架占位：请求字段以服务端实现为准"
              }
            }
          }
        }
      }
    },
    "/api/v1/platform/templates": {
      "get": {
        "tags": [
          "templateMarket"
        ],
        "summary": "GET /api/v1/platform/templates",
        "description": "来源：src/routes/templateMarket.ts:31\n\n服务端响应状态码（代码扫描）：200\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "templateMarket"
        ],
        "summary": "POST /api/v1/platform/templates",
        "description": "来源：src/routes/templateMarket.ts:94\n\n服务端响应状态码（代码扫描）：201\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "HTTP 201",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "骨架占位：请求字段以服务端实现为准"
              }
            }
          }
        }
      }
    },
    "/api/v1/platform/templates/{id}/review": {
      "put": {
        "tags": [
          "templateMarket"
        ],
        "summary": "UGC 审核：通过/驳回（平台侧；通过 → published，驳回 → archived）",
        "description": "来源：src/routes/templateMarket.ts:54\n\n服务端响应状态码（代码扫描）：200, 404, 409\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "404": {
            "description": "HTTP 404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "409": {
            "description": "HTTP 409",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "路径参数（原代码声明形如 :param）"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "骨架占位：请求字段以服务端实现为准"
              }
            }
          }
        }
      }
    },
    "/api/v1/platform/templates/{id}": {
      "get": {
        "tags": [
          "templateMarket"
        ],
        "summary": "---- 详情（含 playbook 预览） ----",
        "description": "来源：src/routes/templateMarket.ts:76\n\n服务端响应状态码（代码扫描）：200\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "路径参数（原代码声明形如 :param）"
          }
        ]
      }
    },
    "/api/v1/platform/templates/{id}/apply": {
      "post": {
        "tags": [
          "templateMarket"
        ],
        "summary": "POST /api/v1/platform/templates/{id}/apply",
        "description": "来源：src/routes/templateMarket.ts:116\n\n服务端响应状态码（代码扫描）：201\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "HTTP 201",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "路径参数（原代码声明形如 :param）"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "骨架占位：请求字段以服务端实现为准"
              }
            }
          }
        }
      }
    },
    "/api/v1/platform/templates/{id}/effects": {
      "get": {
        "tags": [
          "templateMarket"
        ],
        "summary": "---- 效果回写：某模板的所有应用记录 + 惰性刷新单条 after 指标 ----",
        "description": "来源：src/routes/templateMarket.ts:195\n\n服务端响应状态码（代码扫描）：200\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "路径参数（原代码声明形如 :param）"
          }
        ]
      }
    },
    "/api/v1/platform/applies/{id}/refresh": {
      "post": {
        "tags": [
          "templateMarket"
        ],
        "summary": "刷新单条 apply 的 after 指标（7/30 天 cron 落地前的惰性刷新；R7 样本门槛）",
        "description": "来源：src/routes/templateMarket.ts:209\n\n服务端响应状态码（代码扫描）：200\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "路径参数（原代码声明形如 :param）"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "骨架占位：请求字段以服务端实现为准"
              }
            }
          }
        }
      }
    },
    "/api/v1/open-api/health": {
      "get": {
        "tags": [
          "openApi"
        ],
        "summary": "— 开放 API 连通性探针（无需聚合权限，挂在 openApiAuth 之前，免 app 凭据）",
        "description": "来源：src/routes/openApi.ts:11\n\n服务端响应状态码（代码扫描）：200\n\n开放 API 连通性探针，免 app 凭据\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/open-api/tenants/summary": {
      "get": {
        "tags": [
          "openApi"
        ],
        "summary": "GET /api/v1/open-api/tenants/summary",
        "description": "来源：src/routes/openApi.ts:36\n\n服务端响应状态码（代码扫描）：200, 403\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "openApiKey": []
          },
          {
            "openApiSecret": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/public/scan": {
      "get": {
        "tags": [
          "publicReport"
        ],
        "summary": "⑤ 扫码关联（DMR 补充录入通道）：GET /public/scan?org=&code=",
        "description": "报修人扫设备码(AST-)/目录码(CAT-)后调用，DB 权威解析出资产/目录并回带 label，\n前端把 label 展示并回传 asset_code/catalog_code → repair-report 精确关联（不臆造）。\n\n来源：src/routes/publicReport.ts:80\n\n服务端响应状态码（代码扫描）：200, 422\n\n免登录公开端点（限流保护）\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "422": {
            "description": "HTTP 422",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/public/repair-report": {
      "post": {
        "tags": [
          "publicReport"
        ],
        "summary": "— 免登录报修（扫码/链接直报）",
        "description": "DMR 整改 v3：极简输入（描述种子）+ 服务端模型自动补全成完整工单。\n#935 拆分：建单核心（媒体下载/LLM 事务外推断/扫码/分类链/优先级/资产/ext/派单）\n抽到 services/publicReportCreate.ts（纯搬运，SQL 与调用序零变化）；本 handler 只留\n机构归属校验、org 级配额、view_token 生成与响应组装。\n\n来源：src/routes/publicReport.ts:107\n\n服务端响应状态码（代码扫描）：200, 201, 404, 429\n\n免登录公开端点（限流保护）\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "201": {
            "description": "HTTP 201",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "404": {
            "description": "HTTP 404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "429": {
            "description": "HTTP 429",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "骨架占位：请求字段以服务端实现为准"
              }
            }
          }
        }
      }
    },
    "/api/v1/public/repair-status": {
      "get": {
        "tags": [
          "publicReport"
        ],
        "summary": "— 免登录报修进度查询（整改 v2：凭工单号即可，电话后4位可选）",
        "description": "安全：单号 WO_ 前缀+日期+随机段不可枚举；限流 30/min 防遍历\n\n来源：src/routes/publicReport.ts:182\n\n服务端响应状态码（代码扫描）：200, 404, 422\n\n免登录公开端点（限流保护）\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "404": {
            "description": "HTTP 404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "422": {
            "description": "HTTP 422",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/public/upload": {
      "post": {
        "tags": [
          "publicReport"
        ],
        "summary": "— 免登录报修媒体上传（图片 / 录音，base64 JSON，限流+白名单）",
        "description": "复用 B0 上传模式（base64 → 落盘 /opt/youfu/uploads/{org}/{uuid}.{ext} → 公开 URL）\n无损耗：原文件直存，不转码、不压缩；图片 ≤5MB，录音 ≤20MB；返回 kind/size 供前端展示\n\n来源：src/routes/publicReport.ts:217\n\n服务端响应状态码（代码扫描）：201, 400, 404, 413, 415, 422\n\n免登录公开端点（限流保护）\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [],
        "responses": {
          "201": {
            "description": "HTTP 201",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "404": {
            "description": "HTTP 404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "413": {
            "description": "HTTP 413",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "415": {
            "description": "HTTP 415",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "422": {
            "description": "HTTP 422",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "骨架占位：请求字段以服务端实现为准"
              }
            }
          }
        }
      }
    },
    "/api/v1/public/fault-categories": {
      "get": {
        "tags": [
          "publicReport"
        ],
        "summary": "— 报修页分类下拉（免登录只读，限流）",
        "description": "审查修复：fault_category 有 RLS（owner 已改 postgres）——pool 直连无 GUC 查不到，须 withTenantClient 设租户上下文\n\n来源：src/routes/publicReport.ts:260\n\n服务端响应状态码（代码扫描）：200\n\n免登录公开端点（限流保护）\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/public/infer": {
      "post": {
        "tags": [
          "publicReport"
        ],
        "summary": "POST /api/v1/public/infer",
        "description": "来源：src/routes/publicReport.ts:286\n\n服务端响应状态码（代码扫描）：200, 404\n\n免登录公开端点（限流保护）\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "404": {
            "description": "HTTP 404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "骨架占位：请求字段以服务端实现为准"
              }
            }
          }
        }
      }
    },
    "/api/v1/public/mp-phone": {
      "post": {
        "tags": [
          "publicReport"
        ],
        "summary": "微信授权自动获取手机号：POST /api/v1/public/mp-phone",
        "description": "初一定调：\"授权时候就获取基本信息，不要让用户去手填\"——小程序端 open-type=getPhoneNumber\n授权后拿 phone_code → 后端解密 → 返回真手机号 → 前端自动填入，用户零手填。\n合规：手机号为用户显式点按钮授权；解密结果仅返回本次请求，不落明文日志。\n\n来源：src/routes/publicReport.ts:361\n\n服务端响应状态码（代码扫描）：200, 409, 422\n\n免登录公开端点（限流保护）\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "409": {
            "description": "HTTP 409",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "422": {
            "description": "HTTP 422",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "骨架占位：请求字段以服务端实现为准"
              }
            }
          }
        }
      }
    },
    "/api/v1/public/my-reports": {
      "get": {
        "tags": [
          "publicReport"
        ],
        "summary": "两种凭证任选其一：",
        "description": "A) tokens=view_token 列表（主链路，凭本地存储凭证，不可枚举）\nB) phone + order_no（换设备/清缓存后，凭手机号 + 任一工单号安全找回）\n安全：org 显式指定；token 不可枚举；phone 路径须先验证 (phone, order_no) 配对所有权，否则静默返回空（不暴露该手机是否有报修）；限流 30/min\n\n来源：src/routes/publicReport.ts:380\n\n服务端响应状态码（代码扫描）：200, 422\n\n免登录公开端点（限流保护）\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "422": {
            "description": "HTTP 422",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/public/report-correct": {
      "patch": {
        "tags": [
          "publicReport"
        ],
        "summary": "PATCH /api/v1/public/report-correct",
        "description": "来源：src/routes/publicReport.ts:460\n\n服务端响应状态码（代码扫描）：200, 404\n\n免登录公开端点（限流保护）\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "404": {
            "description": "HTTP 404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "骨架占位：请求字段以服务端实现为准"
              }
            }
          }
        }
      }
    },
    "/api/v1/public/dict/lookup": {
      "get": {
        "tags": [
          "publicReport"
        ],
        "summary": "⑤ 扫码带基本信息：GET /public/dict/lookup?org=&loc=&role=",
        "description": "报修人扫码进入小程序时携带的二维码参数自动解析：位置/报修人基本信息（v0.4.0 架构调整）\n2026-08-23 初一反馈：位置/姓名是租户预录入基本信息，扫码即知你是谁、在哪，不应让用户手填或授权\nR29-F1：本端点仅返回 name/role 做身份展示，**不返回 phone 明文**（手机号改由 /public/mp-phone consent 通道获取）\n路人场景：loc/role 缺失或查不到 → 返回 { found:false }，前端走\"临时身份\"路径\n\n来源：src/routes/publicReport.ts:500\n\n服务端响应状态码（代码扫描）：200\n\n免登录公开端点（限流保护）\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/public/mp-qrcode": {
      "get": {
        "tags": [
          "publicReport"
        ],
        "summary": "v0.4.0 调试端点：生成带参小程序码（v0.4.0 扫码带 org/loc/role）",
        "description": "用法：GET /public/mp-qrcode?path=pages/index/index?org=t-verification&loc=3F-A01&role=zhangsan\n返回 image/png 二进制\n🔴 审查修复（2026-08-23）：加限流(10/min)防刷爆微信配额 + path 白名单（仅允许报修首页，防任意路径探测）\n\n来源：src/routes/publicReport.ts:553\n\n服务端响应状态码（代码扫描）：200, 403, 409, 422, 502\n\n免登录公开端点（限流保护）\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "409": {
            "description": "HTTP 409",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "422": {
            "description": "HTTP 422",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "502": {
            "description": "HTTP 502",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/public/service-status": {
      "get": {
        "tags": [
          "publicReport"
        ],
        "summary": "============ §6.2 服务台「平台动态卡」（免登录聚合公开指标，脱敏） ============",
        "description": "设计：报修人端首页底部小卡——今日已处理 / 平均响应 / 服务热线。\n口径（诚实）：今日已处理 = 今日进入完成态（workflow_def doneStates）的工单数；\n平均响应 = ticket_event 中 assign→processing 时长的分钟均值（无事件数据返回 0 + note，不编造）；\n服务热线 = system_config.hotline（未配置返回空串，前端不显示该项）。\n\n来源：src/routes/publicReport.ts:575\n\n服务端响应状态码（代码扫描）：200, 404, 422\n\n免登录公开端点（限流保护）\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "404": {
            "description": "HTTP 404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "422": {
            "description": "HTTP 422",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/public/feedback": {
      "post": {
        "tags": [
          "publicReport"
        ],
        "summary": "POST /api/v1/public/feedback",
        "description": "来源：src/routes/publicReport.ts:627\n\n服务端响应状态码（代码扫描）：201, 404\n\n免登录公开端点（限流保护）\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [],
        "responses": {
          "201": {
            "description": "HTTP 201",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "404": {
            "description": "HTTP 404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "骨架占位：请求字段以服务端实现为准"
              }
            }
          }
        }
      }
    },
    "/api/v1/public/ai-chat": {
      "post": {
        "tags": [
          "publicAiChat"
        ],
        "summary": "POST /api/v1/public/ai-chat",
        "description": "来源：src/routes/publicAiChat.ts:31\n\n服务端响应状态码（代码扫描）：200, 404, 422, 503\n\n免登录公开端点（限流保护）\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "404": {
            "description": "HTTP 404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "422": {
            "description": "HTTP 422",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "503": {
            "description": "HTTP 503",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "骨架占位：请求字段以服务端实现为准"
              }
            }
          }
        }
      }
    },
    "/api/v1/public/ai-chat/{id}": {
      "get": {
        "tags": [
          "publicAiChat"
        ],
        "summary": "— 话轮拉取（刷新 UI / 续聊恢复）",
        "description": "R38-R2 修复：\nF1 id 先过 UUID 校验（原实现非 UUID 直落 PG uuid 比较 → 22P02 → 500；与 auth/me 同口径）；\nF2 防御纵深：会话绑定了 reporter_anon 时，请求携带 anon 且不匹配 → 403\n（不携带则维持原行为，兼容已部署 H5/MP 旧版；两端新版本 GET 均随带 anon）。\n\n来源：src/routes/publicAiChat.ts:88\n\n服务端响应状态码（代码扫描）：200, 403, 404, 422\n\n免登录公开端点（限流保护）\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "404": {
            "description": "HTTP 404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "422": {
            "description": "HTTP 422",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "路径参数（原代码声明形如 :param）"
          }
        ]
      }
    },
    "/api/v1/wechat/jssdk-config": {
      "get": {
        "tags": [
          "wechat"
        ],
        "summary": "GET /api/v1/wechat/jssdk-config",
        "description": "来源：src/routes/wechat.ts:9\n\n服务端响应状态码（代码扫描）：200, 422, 503\n\n微信 JSSDK 公开签名端点（限流保护）\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "422": {
            "description": "HTTP 422",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "503": {
            "description": "HTTP 503",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/open/work_order": {
      "post": {
        "tags": [
          "workOrder"
        ],
        "summary": "POST /api/v1/open/work_order",
        "description": "来源：src/routes/workOrder.ts:258\n\n服务端响应状态码（代码扫描）：200, 201, 400\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "201": {
            "description": "HTTP 201",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "骨架占位：请求字段以服务端实现为准"
              }
            }
          }
        }
      }
    },
    "/api/v1/open/work_order/{id}/transition": {
      "post": {
        "tags": [
          "workOrder"
        ],
        "summary": "POST /api/v1/open/work_order/:id/transition",
        "description": "来源：src/routes/workOrder.ts:343\n\n服务端响应状态码（代码扫描）：200\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "路径参数（原代码声明形如 :param）"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "骨架占位：请求字段以服务端实现为准"
              }
            }
          }
        }
      }
    },
    "/api/v1/open/work_orders": {
      "get": {
        "tags": [
          "workOrder"
        ],
        "summary": "GET /api/v1/open/work_orders",
        "description": "来源：src/routes/workOrder.ts:407\n\n服务端响应状态码（代码扫描）：200\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/open/work_order/available": {
      "get": {
        "tags": [
          "workOrder"
        ],
        "summary": "— 返回某状态下可执行的转移规则（前端动态渲染/权限判断用）。",
        "description": "status 省略时返回初始态(initial)的可用转移。\n\n来源：src/routes/workOrder.ts:458\n\n服务端响应状态码（代码扫描）：200\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/open/work_order/{id}/events": {
      "get": {
        "tags": [
          "workOrder"
        ],
        "summary": "— 工单事件流（前端工单详情时间线）",
        "description": "来源：src/routes/workOrder.ts:478\n\n服务端响应状态码（代码扫描）：200\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "路径参数（原代码声明形如 :param）"
          }
        ]
      }
    },
    "/api/v1/open/work_order/{id}": {
      "get": {
        "tags": [
          "workOrder"
        ],
        "summary": "— 工单详情（单条）：含当前状态可执行的转移规则 + 事件流。",
        "description": "A+ Phase4：供 SPA TicketDetail 动态渲染动作按钮（不再前端硬编码状态→事件映射）。\n\n来源：src/routes/workOrder.ts:498\n\n服务端响应状态码（代码扫描）：200, 404\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "404": {
            "description": "HTTP 404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "路径参数（原代码声明形如 :param）"
          }
        ]
      }
    },
    "/api/v1/open/work_order/{id}/photos": {
      "post": {
        "tags": [
          "workOrder"
        ],
        "summary": "POST /api/v1/open/work_order/{id}/photos",
        "description": "来源：src/routes/workOrder.ts:556\n\n服务端响应状态码（代码扫描）：200, 404\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "404": {
            "description": "HTTP 404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "路径参数（原代码声明形如 :param）"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "骨架占位：请求字段以服务端实现为准"
              }
            }
          }
        }
      }
    },
    "/api/v1/open/work_order/{id}/voice": {
      "post": {
        "tags": [
          "workOrder"
        ],
        "summary": "D1：语音留言追加（worker 录语音 → /upload 得 URL → 追加 ext.voice 数组）",
        "description": "来源：src/routes/workOrder.ts:581\n\n服务端响应状态码（代码扫描）：200, 404\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "404": {
            "description": "HTTP 404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "路径参数（原代码声明形如 :param）"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "骨架占位：请求字段以服务端实现为准"
              }
            }
          }
        }
      }
    },
    "/api/v1/open/notifications": {
      "get": {
        "tags": [
          "workOrder"
        ],
        "summary": "— 通知列表（?recipient= 过滤；缺省=租户全部）",
        "description": "审查修复：合并原 454(recipient 版) 与 585(全量版) 重复注册——Express 先注册先匹配，585 版永不生效。\nin_app 落库即可达；sms/push 为 stub 未真发，诚实标注。\n\n来源：src/routes/workOrder.ts:609\n\n服务端响应状态码（代码扫描）：200\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/open/notifications/read": {
      "post": {
        "tags": [
          "workOrder"
        ],
        "summary": "— 标记已读（body { ids?: string[] }；缺省=全部已读）",
        "description": "来源：src/routes/workOrder.ts:637\n\n服务端响应状态码（代码扫描）：200\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "骨架占位：请求字段以服务端实现为准"
              }
            }
          }
        }
      }
    },
    "/api/v1/open/notify/selftest": {
      "post": {
        "tags": [
          "workOrder"
        ],
        "summary": "— 微信订阅消息自检（工人单点：先授权→立即真发→返回原始 errcode）",
        "description": "不落库，直接对当前登录工人发起一次真实订阅消息发送，返回微信原始 errcode，供前端「微信通知自检」按钮屏上展示。\n目的：消除「用户点允许 → relay 给后端手动重跑」的来回，实现通知链路自助验证闭环。\n\n来源：src/routes/workOrder.ts:661\n\n服务端响应状态码（代码扫描）：200\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "骨架占位：请求字段以服务端实现为准"
              }
            }
          }
        }
      }
    },
    "/api/v1/open/work_order/{id}/ext": {
      "patch": {
        "tags": [
          "workOrder"
        ],
        "summary": "PATCH /api/v1/open/work_order/{id}/ext",
        "description": "来源：src/routes/workOrder.ts:701\n\n服务端响应状态码（代码扫描）：200, 404\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "404": {
            "description": "HTTP 404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "路径参数（原代码声明形如 :param）"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "骨架占位：请求字段以服务端实现为准"
              }
            }
          }
        }
      }
    },
    "/api/v1/stats": {
      "get": {
        "tags": [
          "workOrder"
        ],
        "summary": "— P6 自动派单率/自动闭环率口径（诚实，不编造演示数据）",
        "description": "来源：src/routes/workOrder.ts:724\n\n服务端响应状态码（代码扫描）：200\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/scan": {
      "post": {
        "tags": [
          "workOrder"
        ],
        "summary": "— M3 真实解析：目录码/资产码识别（替代前端 MSW 写死 mock）",
        "description": "生产化②：优先查库（asset_catalog/asset_registry），DB 权威、查不到诚实 unresolved。\n契约与前端 services.scan 对齐：{ok,code,asset:{qr,resolved,note,...}}\n\n来源：src/routes/workOrder.ts:737\n\n服务端响应状态码（代码扫描）：200\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "骨架占位：请求字段以服务端实现为准"
              }
            }
          }
        }
      }
    },
    "/api/v1/sla/scan": {
      "post": {
        "tags": [
          "workOrder"
        ],
        "summary": "— P4 SLA 守护：扫本租户超时单，标记升级并 emit sla_escalated 事件",
        "description": "拆雷三件套②（2026-08-31）：扫描实现抽到 src/scheduler/slaScheduler.ts 的 runSlaScanForTenant，\n本端点与进程内 cron 共用同一实现；命中同时落通知（在身 assignee + 租户管理员），契约不变。\n\n来源：src/routes/workOrder.ts:757\n\n服务端响应状态码（代码扫描）：200\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "骨架占位：请求字段以服务端实现为准"
              }
            }
          }
        }
      }
    },
    "/api/v1/open/work_order/{id}/transpond": {
      "post": {
        "tags": [
          "workOrder"
        ],
        "summary": "— 转台（把工单从一个服务台转移到另一个服务台）",
        "description": "门禁：dispatch.override（RBAC 默认矩阵 admin/operator/dispatcher 有，worker 无）。\n\n来源：src/routes/workOrder.ts:778\n\n服务端响应状态码（代码扫描）：200\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "路径参数（原代码声明形如 :param）"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "骨架占位：请求字段以服务端实现为准"
              }
            }
          }
        }
      }
    },
    "/api/v1/open/claim-hall": {
      "get": {
        "tags": [
          "workOrder"
        ],
        "summary": "— 抢单大厅：列出未分配(claim_hall/pending_dispatch)工单，可按部门过滤",
        "description": "来源：src/routes/workOrder.ts:821\n\n服务端响应状态码（代码扫描）：200\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/open/work_order/{id}/claim": {
      "post": {
        "tags": [
          "workOrder"
        ],
        "summary": "— 抢单（人员认领未分配工单，部门不匹配驳回）",
        "description": "门禁来源（架构🟡12）：本租户 workflow_def 的 claim 转移 allowedRoles（引擎 RICH def 默认\nworker/admin/dispatcher/service_desk），不再在本文件硬编码角色数组。\n⚠️ 行为变更：此前硬编码多放了 operator → 现按引擎口径收口；operator 请用派单（dispatch.override）。\n需要放行的租户：到 业务规则设置台 给 claim 边 allowedRoles 加上 operator 即生效（配置即事实）。\nC-2 身份根治：token userId 即 worker.id（id 同源），body workerId 不一致 403。\n\n来源：src/routes/workOrder.ts:853\n\n服务端响应状态码（代码扫描）：200\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "路径参数（原代码声明形如 :param）"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "骨架占位：请求字段以服务端实现为准"
              }
            }
          }
        }
      }
    },
    "/api/v1/open/dispatch-recommend": {
      "get": {
        "tags": [
          "workOrder"
        ],
        "summary": "— 派单智能推荐（DMR 可解释呈现，dispatcher 端）。",
        "description": "当前工人（token 身份）今日工作台统计见下方 /open/me/summary。\n只读推荐：基于 技能匹配 + 当前负载 的确定性评分，不写回任何配置（AUTO_TUNE 无关）。\n诚实口径：无 worker 级满意度数据 → 理由不编造满意度；技能匹配 = 分类名/码与 worker.skill_tags 子串包含（≥2 字符）。\n冷启动（无 dispatch_rule/UCB 数据）时依然有区分度：技能命中优先、负载低次之。\n\n来源：src/routes/workOrder.ts:922\n\n服务端响应状态码（代码扫描）：200\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/open/me/summary": {
      "get": {
        "tags": [
          "workOrder"
        ],
        "summary": "GET /api/v1/open/me/summary",
        "description": "来源：src/routes/workOrder.ts:954\n\n服务端响应状态码（代码扫描）：200\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/webhooks/subscriptions": {
      "post": {
        "tags": [
          "webhook"
        ],
        "summary": "— 注册订阅（secret 缺省自动生成，仅创建时返回一次）",
        "description": "来源：src/webhook/routes.ts:19\n\n服务端响应状态码（代码扫描）：201, 400\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "HTTP 201",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "骨架占位：请求字段以服务端实现为准"
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "webhook"
        ],
        "summary": "— 列出本租户订阅（不泄露 secret）",
        "description": "来源：src/webhook/routes.ts:62\n\n服务端响应状态码（代码扫描）：200\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/webhooks/subscriptions/{id}": {
      "delete": {
        "tags": [
          "webhook"
        ],
        "summary": "— 软停用（不物理删除，保留投递记录关联）",
        "description": "来源：src/webhook/routes.ts:80\n\n服务端响应状态码（代码扫描）：200\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "路径参数（原代码声明形如 :param）"
          }
        ]
      }
    },
    "/api/v1/webhooks/deliveries": {
      "get": {
        "tags": [
          "webhook"
        ],
        "summary": "— 最近投递记录（可观测/排错）",
        "description": "来源：src/webhook/routes.ts:96\n\n服务端响应状态码（代码扫描）：200\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/webhooks/test": {
      "post": {
        "tags": [
          "webhook"
        ],
        "summary": "— 探针：向指定 URL 发一次 webhook_test，校验可达性与签名",
        "description": "来源：src/webhook/routes.ts:115\n\n服务端响应状态码（代码扫描）：200\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "骨架占位：请求字段以服务端实现为准"
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/login": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "— 公开（豁免鉴权）：校验账密并签发 JWT",
        "description": "来源：src/routes/auth.ts:50\n\n服务端响应状态码（代码扫描）：200, 401, 403, 500\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "500": {
            "description": "HTTP 500",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "骨架占位：请求字段以服务端实现为准"
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/me": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "— 受保护：返回当前令牌对应账户",
        "description": "来源：src/routes/auth.ts:95\n\n服务端响应状态码（代码扫描）：200, 401, 404\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "404": {
            "description": "HTTP 404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/change-password": {
      "patch": {
        "tags": [
          "auth"
        ],
        "summary": "— 受保护：登录用户修改自己的密码（需旧密码校验）",
        "description": "来源：src/routes/auth.ts:137\n\n服务端响应状态码（代码扫描）：200, 401, 404\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "404": {
            "description": "HTTP 404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "骨架占位：请求字段以服务端实现为准"
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/users": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "— admin：创建账户（同租户）",
        "description": "来源：src/routes/auth.ts:169\n\n服务端响应状态码（代码扫描）：201, 401, 403, 409\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "HTTP 201",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "409": {
            "description": "HTTP 409",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "骨架占位：请求字段以服务端实现为准"
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "— admin：列出租户内账户",
        "description": "来源：src/routes/auth.ts:187\n\n服务端响应状态码（代码扫描）：200, 401, 403\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "骨架占位：字段以服务端实现为准"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/wx-bind": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "============ v5.0 P0：微信 openid 绑定/免密登录 ============",
        "description": "— 需登录态：wx.login code → openid → 绑定当前账号（一次绑定终身免密）\n\n来源：src/routes/auth.ts:201\n\n服务端响应状态码（代码扫描）：200, 401, 409, 502\n\n\n\n请求/响应体为骨架占位（宽松 object），字段以服务端实现为准。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
[...]
